body {
    font-family: sans-serif;
    background-color: #61dafb;
    color: #333;
  }
  
  #beatsTable {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
  }
  
  #beatsTable th,
  #beatsTable td {
    border: 1px solid #ccc;
    padding: 5px;
  }
  
  #beatsTable th {
    background-color: #eee;
    font-weight: bold;
  }
  
  #beatsTable a {
    color: #333;
    text-decoration: none;
  }
  
  #beatsTable .title {
    font-size: 18px;
    font-weight: bold;
  }
  
  #beatsTable .download-button {
    background-color: #00f;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #beatsTable .download-button:hover {
    background-color: #00d;
  }
  