.title {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  width: 400px;
  height: 300px;
  background-image: url('/Users/javi/Documents/UCR/CutieHack2023/cutiehack2023/public/desert-island.svg');
  background-size: cover;
  }
  
  .greenText {
    color: white;
    font-size: 100px;
    font-weight: 800;
  }
  
  .beigeText {
    color: white;
    font-size: 100px;
    font-weight: 800;
  }
  